/* Define global styles for the entire page */
body {
    background-color: #111;
    /* Set background color to dark gray */
    color: #fff;
    /* Set text color to white */
    text-align: center;
    /* Center-align text */
    font-family: 'Ubuntu', sans-serif;
    /* Use the 'Ubuntu' font family */
}

/* Style the main content container */
.container {
    max-width: 630px;
    /* Set maximum width for the container */
    margin: 0 auto;
    /* Center the container horizontally */
    padding: 20px;
    /* Add some padding around the container */
    background-color: #222;
    /* Set background color to a darker gray */
    border-radius: 10px;
    /* Add rounded corners */
    text-align: center;
    /* Center-align text within the container */
}

/* Style a container for square elements */
.square-container {
    display: flex;
    /* Use flexbox for layout */
    justify-content: center;
    /* Center-align child elements horizontally */
    gap: 55px;
    /* Add space between child elements */
    margin-top: 30px;
    /* Add top margin */
}

/* Style individual square elements */
.square {
    width: 150px;
    /* Set a fixed width for squares */
    background-color: #222;
    /* Set background color to a darker gray */
    border: 1px solid #fff;
    /* Add a white border */
    border-radius: 10px;
    /* Add rounded corners */
    padding: 10px;
    /* Add padding inside squares */
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.1);
    /* Add a subtle box shadow */
    transition: transform 0.2s;
    /* Add a smooth transform effect */
    display: flex;
    /* Use flexbox for layout */
    flex-direction: column;
    /* Stack content vertically inside squares */
    align-items: center;
    /* Center-align content horizontally */
}

/* Apply a scale transformation when hovering over squares */
.square:hover {
    transform: scale(1.05);
}

/* Style an image wrapper within squares */
.image-wrapper {
    text-align: center;
    /* Center-align text within the image wrapper */
    flex-grow: 1;
    /* Allow image wrapper to grow within squares */
    border-radius: 10px;

}

/* Style images inside the image wrapper */
.image-wrapper img {
    border-radius: 10px;

    max-width: 100%;
    /* Ensure images don't exceed their container width */
    height: auto;
    /* Maintain aspect ratio for images */
}

/* Style text inside squares */
.text-inside {
    font-size: 16px;
    /* Set font size */
    color: #fff;
    /* Set text color to white */
    margin-top: 10px;
    /* Add top margin */
    text-align: center;
    /* Center-align text */
}

/* Style hyperlinks */
a {
    text-decoration: none;
    /* Remove underline from links */
    color: #ff6666;
    /* Set link color */
}

/* Apply a color change when hovering over links */
a:hover {
    color: #FF6666;
    /* Change link color on hover */
}

/* Style heading level 1 */
h1 {
    color: #ff6666;
    /* Set heading color */
}

/* Style highlighted text */
.highlighted-text {
    background-color: #ff6666;
    /* Set background color for highlighted text */
    color: #fff;
    padding: 10px;
    /* Add padding around highlighted text */
    border-radius: 10px;
}

/* Style the code wrapper for the Play Store banner */
.code-wrapper {
    text-align: center;
    /* Center-align content within the code wrapper */
    margin-top: 10px;
    /* Add top margin */
}

/* Style images within the code wrapper */
.code-wrapper img {
    max-width: 100%;
    /* Ensure images don't exceed their container width */
    height: auto;
    /* Maintain aspect ratio for images */
    display: block;
    /* Center-align images horizontally */
    margin: 0 auto;
    /* Center-align images horizontally within the wrapper */
}

/* Add a class to the footer for fixed positioning */
.footer-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222;
    /* Adjust the background color as needed */
    padding: 10px;
    /* Add padding for spacing */
    text-align: center;
}

/* Add spacing between icons using a <span> element */
.icon-space {
    display: inline-block;
    width: 20px;
    /* Adjust the width to control the space between icons */
}

/* styles.css */
.github-banner {
    width: 147px;
    border-radius: 6px;
    border: 1px solid #a6a6a5;
}